# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>OBJECTIVES:</b>

- Learn how to Create a Jupyter notebook
- Insert code and markdown cells
- List popular languages for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. JavaScript
5. Java

Some of the commonly used used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. ggplot
5. SciPy

|Data Science Tools|
|:----------------:|
| Jupyter Notebook |
|   Apache Spark   |
|    RapidMiner    |

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [1]:
# This is a simple expression to multiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
200//60

3

## Author
Anthony Nguyen